@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light mode colors (default) */
:root {
  --color-primary: 255 255 255;           /* #ffffff */
  --color-secondary: 19 15 12;            /* #130f0c */
  --color-panelBorder: 123 128 121;       /* #7b8079 */
  --color-panelHeaderBackground: 223 228 226; /* #dfe4e2 */
  --color-panelStatusBackground: 19 15 12;    /* #130f0c */
  --color-panelContentBackground: 247 247 247; /* #f7f7f7 */
  --color-simElementBorder: 19 15 12;     /* #130f0c */
  --color-simInputBackground: 230 230 230;    /* #e6e6e6 */
  --color-simBackground: 247 247 247;     /* #f7f7f7 */
  --color-simActiveButton: 185 57 27;     /* #b9391b */
}

/* Dark mode colors */
.dark {
  --color-primary: 25 25 25;              /* #191919 */
  --color-secondary: 214 214 214;         /* #d6d6d6 */
  --color-panelBorder: 44 44 44;          /* #2c2c2c */
  --color-panelHeaderBackground: 25 25 25;    /* #191919 */
  --color-panelStatusBackground: 223 228 226; /* #dfe4e2 */
  --color-panelContentBackground: 0 0 0;      /* #000000 */
  --color-simElementBorder: 89 89 89;     /* #595959 */
  --color-simInputBackground: 25 25 25;   /* #191919 */
  --color-simBackground: 0 0 0;           /* #000000 */
  --color-simActiveButton: 27 185 94;     /* #1bb95e */
}

@font-face {
  font-family: 'Orbitron';
  src: url('../src/assets/fonts/orbitron/orbitron-light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Orbitron';
  src: url('../src/assets/fonts/orbitron/orbitron-medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Orbitron';
  src: url('../src/assets/fonts/orbitron/orbitron-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Orbitron';
  src: url('../src/assets/fonts/orbitron/orbitron-black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ensure html, body, and #app take full width and height */
html, body, #app {
  width: 100%;
  height: 100%;
}

/* Optional: Remove overflow if you have any extra spacing issues */
body {
  overflow: hidden;
}

/* #app {  
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
